* {
    top: 50px;
}

/*--dark mode--*/





body {
    transition: background 0.2s linear;
    background-image: url(../img/ceuclaro.jpg);
    
}

@media (prefers-color-scheme: dark) {
    body {
      background-image: url(../img/ceudark.png);
      
    }

    #chk-div {
        background-color: #22212c;
    }
}

/* Card nome e foto */

.card-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 80px;
    left: 15px;
    position: absolute;
    width: 270px;
    height: 253px;
    background: #88CCF1;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-main h3 {
    position: absolute;
    width: 300px;
    height: 30px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    left: 25px;
    top: 160px;
}

.card-main p {
    position: absolute;
    width: 300px;
    height: 30px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    left: 50px;
    top: 190px;
}

.card-main img {
    top: 10px;
    left: 50px;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    position: absolute;
}

/* Card informaçoes de contato */

.C-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 360px;
    left: 15px;
    position: absolute;
    width: 270px;
    height: 300px;
    background: #88CCF1;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

ul li {
    list-style: none;
}

ul a {
    text-decoration: none;
}

ul span {
    line-height: 57px;
    color: #fff;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.C-info ion-icon {
    color: #fff;
    font-size: 25px;
    left: 2px;
}

/* Tecnologias */

.C-tec {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 700px;
    left: 15px;
    position: absolute;
    width: 270px;
    height: 200px;
    background: #88CCF1;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.C-tec span {
    position: absolute;
    top: 12px;
    left: 45px;
    color: #fff;
    font-size: 17px;
    font-family: monospace;
}

/* as tecnologias */

.javascript {
    font-size: 40px;
    top: 60px;
    left: 20px;
    position: absolute;
    color: yellow;
    filter: drop-shadow(5px 5px 7px #ffb703);
}

.Css {
    color: blue;
    font-size: 40px;
    top: 60px;
    left: 80px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px #4661ee);
}

.html {
    font-size: 40px;
    top: 60px;
    left: 140px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px #e85d04);
    color: #e85;
}

.laravel {
    font-size: 40px;
    top: 60px;
    left: 200px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px #d90429);
    color: red;
}

.NODE {
    color: #37D725;
    font-size: 40px;
    top: 120px;
    left: 20px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px #2b9348);
}

.DOCKER {
    color: #2454D6;
    font-size: 40px;
    top: 120px;
    left: 80px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px #1f58f5);
}

.PY {
    color: rgb(87, 87, 243);
    font-size: 40px;
    top: 120px;
    left: 140px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px yellow);
}

.LINUX {
    color: black;
    font-size: 40px;
    top: 120px;
    left: 200px;
    position: absolute;
    filter: drop-shadow(5px 5px 7px white);
}

/* Barra My projects */

.C-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 80px;
    left: 375px;
    position: absolute;
    width: 700px;
    height: 70px;
    background: #88CCF1;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.C-projects h1 {
    top: 0px;
    left: 250px;
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-family: monospace;
}

.scrol {
    overflow-x: auto;
    white-space: nowrap;
}

/* Clima */
.Clima {
    top: 90px;
    left: 0px;
    position: absolute;
    width: 250px;
    height: 230px;
    background: #88CCF1;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.Clima span {
    top: 200px;
    left: 80px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: monospace
}

.folder {
    left: 20px;
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 30px;
}

.Clima span:hover {
    transform: translateX(5px) translateY(5px);
    box-shadow: #22212c 7px 9px 0px;
}

/* Sobre Mim */

.C-sobre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    filter: drop-shadow(5px 5px 7px white);
    top: 450px;
    left: 375px;
    position: absolute;
    width: 900px;
    height: 460px;
    background: #88CCF1;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    animation: card-sobre 10s infinite ease-in-out;
}
@keyframes card-sobre {
    70%{
        transform: translateY(-5%);
    }
}

.C-sobre h2 {
    top: 0;
    left: 350px;
    position: absolute;
    align-content: center;
    font-family: monospace;
    color: #fff;
    font-size: 25px;
}

.C-sobre h3 {
    top: 40px;
    left: 300px;
    position: absolute;
    align-content: center;
    font-family: monospace;
    color: #fff;
    font-size: 20px;
}

.C-sobre p {
    top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: 20px;
}

.C-sobre span {
  background-image: linear-gradient(to left, #6910a8, #9381FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

/*  */